body {
  background-color: rgb(255, 249, 221);
}

p {
    color: #000;
    font-size: 18px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif
}

img {
    width: 700px;
    height: 600px;
    border-radius: 30%;
}

h1 {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #000;
    font-size: 22px;
    padding: 10px;
    outline-width: 33px;
    outline-color: rgb(219, 231, 48);
}

hr {
    color: rgb(220, 223, 39);
}

